IDOC xsds/bommat_idoc_relaxed.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BOMMAT01">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDOC">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="EDI_DC40">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="TABNAM" type="xs:string" />
                    <xs:element minOccurs="0" name="DOCNUM" type="xs:string" />
                    <xs:element minOccurs="0" name="DOCREL" type="xs:string" />
                    <xs:element minOccurs="0" name="DIRECT" type="xs:string" />
                    <xs:element minOccurs="0" name="OUTMOD" />
                    <xs:element minOccurs="0" name="IDOCTYP" type="xs:string" />
                    <xs:element minOccurs="0" name="MESCOD" type="xs:string" />
                    <xs:element minOccurs="0" name="MESFCT" type="xs:string" />
                    <xs:element minOccurs="0" name="STD" />
                    <xs:element minOccurs="0" name="SNDPOR" type="xs:string" />
                    <xs:element minOccurs="0" name="SNDPRT" />
                    <xs:element minOccurs="0" name="SNDPRN" type="xs:string" />
                    <xs:element minOccurs="0" name="SNDLAD" type="xs:string" />
                    <xs:element minOccurs="0" name="RCVPOR" type="xs:string" />
                    <xs:element minOccurs="0" name="RCVPRT" type="xs:string" />
                    <xs:element minOccurs="0" name="RCVPRN" type="xs:string" />
                    <xs:element minOccurs="0" name="CRETIM" type="xs:string" />
                    <xs:element minOccurs="0" name="REFINT" type="xs:string" />
                    <xs:element minOccurs="0" name="ARCKEY" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="E1STZUM">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="STLTY" />
                    <xs:element minOccurs="0" name="MSGFN" />
                    <xs:element minOccurs="0" name="STLNR" type="xs:string" />
                    <xs:element minOccurs="0" name="ALTST" />
                    <xs:element minOccurs="0" name="KBAUS" />
                    <xs:element minOccurs="0" name="ZTEXT" type="xs:string" />
                    <xs:element minOccurs="0" name="AENRL" type="xs:string" />
                    <xs:element minOccurs="0" name="STLTM" type="xs:string" />
                    <xs:element minOccurs="0" name="EXSTL_C" type="xs:string" />
                    <xs:element minOccurs="0" name="E1SZUTH">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="TDNAME" type="xs:string" />
                          <xs:element minOccurs="0" name="TDSPRAS" />
                          <xs:element minOccurs="0" name="TDSPRAS_ISO" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="E1MASTM">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="MSGFN" type="xs:string" />
                          <xs:element minOccurs="0" name="LOSVN" type="xs:string" />
                          <xs:element minOccurs="0" name="MATNR" type="xs:string" />
                          <xs:element minOccurs="0" name="WERKS" type="xs:string" />
                          <xs:element minOccurs="0" name="STLAN" />
                          <xs:element minOccurs="0" name="STLNR" type="xs:string" />
                          <xs:element minOccurs="0" name="LOSBS" type="xs:string" />
                          <xs:element minOccurs="0" name="CSLTY" />
                          <xs:element minOccurs="0" name="MATNR_EXTERNAL" type="xs:string" />
                          <xs:element minOccurs="0" name="MATNR_VERSION" type="xs:string" />
                          <xs:element minOccurs="0" name="MATNR_GUID" type="xs:string" />
                          <xs:element minOccurs="0" name="MATNR_LONG" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="E1STKOM">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:choice maxOccurs="unbounded">
                            <xs:element minOccurs="0" name="MSGFN" type="xs:string" />
                            <xs:element minOccurs="0" name="LOEKZ" />
                            <xs:element minOccurs="0" name="STLAL" type="xs:string" />
                            <xs:element minOccurs="0" name="AENNR" type="xs:string" />
                            <xs:element minOccurs="0" name="BMEIN" type="xs:string" />
                            <xs:element minOccurs="0" name="BMENG" type="xs:string" />
                            <xs:element minOccurs="0" name="CADKZ" />
                            <xs:element minOccurs="0" name="LABOR" />
                            <xs:element minOccurs="0" name="STLST" type="xs:string" />
                            <xs:element minOccurs="0" name="E1SKOTH">
                              <xs:complexType>
                                <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="STKTX" type="xs:string" />
                            <xs:element minOccurs="0" name="LTXSP_ISO" type="xs:string" />
                            <xs:element minOccurs="0" name="LTXSP" />
                            <xs:element minOccurs="0" name="GUIDX" type="xs:string" />
                            <xs:element minOccurs="0" name="DATUV" type="xs:string" />
                            <xs:element minOccurs="0" name="BMENG_C" type="xs:string" />
                          </xs:choice>
                        </xs:sequence>
                        <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="E1STPOM">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="POSTP" type="xs:string" />
                          <xs:element minOccurs="0" name="STLKN" type="xs:string" />
                          <xs:element minOccurs="0" name="ID_ITM_CTG" />
                          <xs:element minOccurs="0" name="ID_CL_TYPE" />
                          <xs:element minOccurs="0" name="ID_DOC" type="xs:string" />
                          <xs:element minOccurs="0" name="ID_DOC_PRT" type="xs:string" />
                          <xs:element minOccurs="0" name="ID_SORT" type="xs:string" />
                          <xs:element minOccurs="0" name="MEINS" />
                          <xs:element minOccurs="0" name="MENGE" type="xs:string" />
                          <xs:element minOccurs="0" name="FMENG" />
                          <xs:element minOccurs="0" name="DATUV" type="xs:string" />
                          <xs:element minOccurs="0" name="AENNR" type="xs:string" />
                          <xs:element minOccurs="0" name="LKENZ" />
                          <xs:element minOccurs="0" name="POSNR" type="xs:string" />
                          <xs:element minOccurs="0" name="SORTF" type="xs:string" />
                          <xs:element minOccurs="0" name="AUSCH" type="xs:string" />
                          <xs:element minOccurs="0" name="AVOAU" type="xs:string" />
                          <xs:element minOccurs="0" name="SCHGT" />
                          <xs:element minOccurs="0" name="BEIKZ" />
                          <xs:element minOccurs="0" name="ERSKZ" />
                          <xs:element minOccurs="0" name="RVREL" />
                          <xs:element minOccurs="0" name="SANIN" />
                          <xs:element minOccurs="0" name="SANKO" />
                          <xs:element minOccurs="0" name="SANKA" />
                          <xs:element minOccurs="0" name="STKKZ" />
                          <xs:element minOccurs="0" name="REKRI" />
                          <xs:element minOccurs="0" name="REKRS" />
                          <xs:element minOccurs="0" name="CADPO" />
                          <xs:element minOccurs="0" name="NLFZT" />
                          <xs:element minOccurs="0" name="VERTI" />
                          <xs:element minOccurs="0" name="ALPOS" />
                          <xs:element minOccurs="0" name="ROANZ" type="xs:string" />
                          <xs:element minOccurs="0" name="EKGRP" type="xs:string" />
                          <xs:element minOccurs="0" name="LIFZT" type="xs:string" />
                          <xs:element minOccurs="0" name="LIFNR" type="xs:string" />
                          <xs:element minOccurs="0" name="WAERS" type="xs:string" />
                          <xs:element minOccurs="0" name="ROMS2" type="xs:string" />
                          <xs:element minOccurs="0" name="UPSKZ" />
                          <xs:element minOccurs="0" name="POTX2" type="xs:string" />
                          <xs:element minOccurs="0" name="ROMEI" type="xs:string" />
                          <xs:element minOccurs="0" name="ROMEN" type="xs:string" />
                          <xs:element minOccurs="0" name="LTXSP" />
                          <xs:element minOccurs="0" name="POTX1" type="xs:string" />
                          <xs:element minOccurs="0" name="OBJTY" />
                          <xs:element minOccurs="0" name="WEBAZ" type="xs:string" />
                          <xs:element minOccurs="0" name="DOKVR" />
                          <xs:element minOccurs="0" name="CSSTR" type="xs:string" />
                          <xs:element minOccurs="0" name="CLASS" type="xs:string" />
                          <xs:element minOccurs="0" name="CLOBK" />
                          <xs:element minOccurs="0" name="DOKAR" type="xs:string" />
                          <xs:element minOccurs="0" name="DOKNR" type="xs:string" />
                          <xs:element minOccurs="0" name="DOKTL" type="xs:string" />
                          <xs:element minOccurs="0" name="AWAKZ" />
                          <xs:element minOccurs="0" name="INSKZ" />
                          <xs:element minOccurs="0" name="VCEKZ" />
                          <xs:element minOccurs="0" name="CLALT" />
                          <xs:element minOccurs="0" name="CVIEW" type="xs:string" />
                          <xs:element minOccurs="0" name="KNOBJ" type="xs:string" />
                          <xs:element minOccurs="0" name="KZKUP" />
                          <xs:element minOccurs="0" name="INTRM" type="xs:string" />
                          <xs:element minOccurs="0" name="DSPST" />
                          <xs:element minOccurs="0" name="ALPST" />
                          <xs:element minOccurs="0" name="TPEKZ" />
                          <xs:element minOccurs="0" name="ALPRF" type="xs:string" />
                          <xs:element minOccurs="0" name="ALPGR" type="xs:string" />
                          <xs:element minOccurs="0" name="NFEAG" />
                          <xs:element minOccurs="0" name="CLSZU" type="xs:string" />
                          <xs:element minOccurs="0" name="LTXSP_ISO" type="xs:string" />
                          <xs:element minOccurs="0" name="NFGRP" />
                          <xs:element minOccurs="0" name="NLFZV" type="xs:string" />
                          <xs:element minOccurs="0" name="NLFMV" type="xs:string" />
                          <xs:element minOccurs="0" name="KLASSE" type="xs:string" />
                          <xs:element minOccurs="0" name="ID_CLASS_C" type="xs:string" />
                          <xs:element minOccurs="0" name="ITMID" type="xs:string" />
                          <xs:element minOccurs="0" name="RFPNT" type="xs:string" />
                          <xs:element minOccurs="0" name="IDNRK_VERSION" type="xs:string" />
                          <xs:element minOccurs="0" name="ID_COMP_VERSION" type="xs:string" />
                          <xs:element minOccurs="0" name="ID_COMP_GUID" type="xs:string" />
                          <xs:element minOccurs="0" name="INTRM_VERSION" type="xs:string" />
                          <xs:element minOccurs="0" name="SEGMENT_VALUE" type="xs:string" />
                          <xs:element minOccurs="0" name="IDNRK_GUID" type="xs:string" />
                          <xs:element minOccurs="0" name="ID_COMP_EXTERNAL" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="E1CUKBM">
                            <xs:complexType>
                              <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="E1SPOTH">
                            <xs:complexType>
                              <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="E1STPUM">
                            <xs:complexType>
                              <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="E1IDOCENHANCEMENT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="IDENTIFIER" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="SEGMENT" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="BEGIN" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>