IDOC xsds/cond_a_idoc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="COND_A01">
  <xs:annotation>
   <xs:documentation>Interchange of conditions: Master data for price determ.</xs:documentation>
  </xs:annotation>
  <xs:complexType>
   <xs:sequence>
    <xs:element minOccurs="0" name="IDOC">
     <xs:complexType>
      <xs:sequence>
       <xs:element minOccurs="0" name="EDI_DC40">
        <xs:annotation>
         <xs:documentation>IDoc control record for the interface to the external system</xs:documentation>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="TABNAM" type="xs:string" fixed="EDI_DC40">
           <xs:annotation>
            <xs:documentation>Name of Table Structure</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="MANDT" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Client</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="DOCNUM" minOccurs="0">
           <xs:annotation>
            <xs:documentation>IDoc number</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="16"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="DOCREL" minOccurs="0">
           <xs:annotation>
            <xs:documentation>SAP Release for IDoc</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="STATUS" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Status of IDoc</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="DIRECT">
           <xs:annotation>
            <xs:documentation>Direction</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:enumeration value="1">
              <xs:annotation>
               <xs:documentation>Outbound</xs:documentation>
              </xs:annotation>
             </xs:enumeration>
             <xs:enumeration value="2">
              <xs:annotation>
               <xs:documentation>Inbound</xs:documentation>
              </xs:annotation>
             </xs:enumeration>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="OUTMOD" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Output mode</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EXPRSS" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Overriding in inbound processing</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TEST" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Test flag</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="IDOCTYP" type="xs:string" fixed="COND_A01">
           <xs:annotation>
            <xs:documentation>Name of basic type</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="CIMTYP" minOccurs="0" type="xs:string" fixed="">
           <xs:annotation>
            <xs:documentation>Extension (defined by customer)</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="MESTYP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Message type</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="30"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="MESCOD" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Message code</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="MESFCT" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Message Function</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="STD" minOccurs="0">
           <xs:annotation>
            <xs:documentation>EDI standard, flag</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="STDVRS" minOccurs="0">
           <xs:annotation>
            <xs:documentation>EDI standard, version and release</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="6"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="STDMES" minOccurs="0">
           <xs:annotation>
            <xs:documentation>EDI message type</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="6"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="SNDPOR">
           <xs:annotation>
            <xs:documentation>Sender port (SAP System, external subsystem)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="SNDPRT">
           <xs:annotation>
            <xs:documentation>Partner type of sender</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="SNDPFC" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Partner Function of Sender</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="SNDPRN">
           <xs:annotation>
            <xs:documentation>Partner Number of Sender</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="SNDSAD" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Sender address (SADR)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="21"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="SNDLAD" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Logical address of sender</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="70"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="RCVPOR">
           <xs:annotation>
            <xs:documentation>Receiver port</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="RCVPRT" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Partner Type of Receiver</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="RCVPFC" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Partner Function of Receiver</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="RCVPRN">
           <xs:annotation>
            <xs:documentation>Partner Number of Receiver</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="RCVSAD" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Recipient address (SADR)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="21"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="RCVLAD" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Logical Address of Receiver</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="70"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="CREDAT" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Created On</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="8"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="CRETIM" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Created at</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="6"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="REFINT" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Transmission file (EDI Interchange)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="14"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="REFGRP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Message group (EDI Message Group)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="14"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="REFMES" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Message (EDI Message)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="14"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="ARCKEY" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Key for external message archive</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="70"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="SERIAL" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Serialization</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="20"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
         </xs:sequence>
         <xs:attribute name="SEGMENT" use="optional">
          <xs:simpleType>
           <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
           </xs:restriction>
          </xs:simpleType>
         </xs:attribute>
        </xs:complexType>
       </xs:element>
       <xs:element name="E1KOMG">
        <xs:annotation>
         <xs:documentation>Filter segment with separated condition key</xs:documentation>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="KVEWE" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Usage of the condition table</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="KOTABNR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Number of the Condition Table</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="KAPPL" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Application</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="KSCHL" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Condition type</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VAKEY" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Variable key 50 bytes</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="50"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VKORG" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Sales Organization</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VTWEG" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Distribution Channel</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="SPART" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Division</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="KUNNR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Customer number</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="KDGRP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Customer Group</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="PLTYP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Price List Type</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="KONDA" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Customer Price Group</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="KONDM" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Material Price Group</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="WAERK" minOccurs="0">
           <xs:annotation>
            <xs:documentation>SD document currency</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="5"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="MATNR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Material Number (18 Characters)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="18"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="BWTAR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Valuation Type</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="CHARG" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Batch Number</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="PRODH" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Product hierarchy</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="18"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="MEINS" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Base Unit of Measure</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="BONUS" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Volume rebate group</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EBONU" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Settlement Group 1 (Purchasing)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="PROVG" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Commission group</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="ALAND" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Departure country (country from which the goods are sent)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="WKREG" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Region in which plant is located</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="WKCOU" minOccurs="0">
           <xs:annotation>
            <xs:documentation>County in which plant is located</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="WKCTY" minOccurs="0">
           <xs:annotation>
            <xs:documentation>City in which plant is located</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="LLAND" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Destination Country/Region</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="REGIO" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Region (State, Province, County)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="COUNC" minOccurs="0">
           <xs:annotation>
            <xs:documentation>County Code</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="CITYC" minOccurs="0">
           <xs:annotation>
            <xs:documentation>City Code</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXM1" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax classification material</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXM2" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax classification 2 for material</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXM3" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax classification 3 for material</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXM4" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 4 Material</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXM5" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax classification 5 for material</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXM6" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax classification 6 for material</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXM7" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax classification 7 for material</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXM8" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 8 Material</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXM9" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 9 Material</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXK1" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 1 for Customer</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXK2" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 2 for Customer</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXK3" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax classification 3 for customer</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXK4" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 4 Customer</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXK5" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 5 for Customer</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXK6" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 6 for Customer</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXK7" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 7 for Customer</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXK8" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 8 for Customer</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXK9" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Classification 9 for Customer</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="LIFNR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Account Number of Vendor or Creditor</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="MATKL" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Material Group</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="9"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EKORG" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Purchasing organization</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="ESOKZ" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Purchasing info record category</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="WERKS" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Plant</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="RESWK" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Supplying (issuing) plant in case of stock transport order</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="KOLIF" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Prior Supplier</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="LTSNR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Supplier Subrange</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="6"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="WGLIF" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Supplier Material Group</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="18"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="MWSKZ" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax on sales/purchases code</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="WERKV" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Resale plant</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="WAGRP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Material group</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="9"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VRKME" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Sales unit</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EAN11" minOccurs="0">
           <xs:annotation>
            <xs:documentation>International Article Number (EAN/UPC)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="18"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EANNR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>European Article Number (EAN) - obsolete!!!!!</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="13"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="AUART" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Order Type</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="MEEIN" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Unit of measure of a purchased material</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="INFNR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Number of purchasing info record</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EVRTN" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Purchasing Document Number</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EVRTP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Item Number of Purchasing Document</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:pattern value="\d+"/>
             <xs:maxLength value="5"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="INCO1" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Incoterms (Part 1)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="INCO2" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Incoterms (Part 2)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="28"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="BUKRS" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Company Code</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="MTART" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Material type</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="LIFRE" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Different Invoicing Party</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EKKOL" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Condition Group with Supplier</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EKKOA" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Condition Group in Case of Different Supplier</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="BSTME" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Purchase Order Unit of Measure</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="WGHIE" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Material group hierarchy</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="18"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXIM" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax indicator for material (Purchasing)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXIK" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Indicator: Account Assignment (Purchasing)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXIW" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Indicator: Plant (Purchasing)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXIL" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax indicator: Import</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TAXIR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax indicator: Region (Intrastat)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="TXJCD" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Tax Jurisdiction</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="15"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="FKART" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Billing Type</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VKORGAU" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Sales organization of sales order</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="HIENR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Customer</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VARCOND" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Variant Condition Key</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="26"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="LAND1" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Country Key</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="ZTERM" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Terms of payment key</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="GZOLX" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Preference zone</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VBELN" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Sales and Distribution Document Number</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="POSNR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Item number of the SD document</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:pattern value="\d+"/>
             <xs:maxLength value="6"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="UPMAT" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Pricing reference material of main item</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="18"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="UKONM" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Material pricing group of main item</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="ANZSN" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Number of serial numbers</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:pattern value="\d+"/>
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="AUART_SD" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Sales Document Type</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="PRODH1" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Data Element ID_PRODH1</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="5"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="PRODH2" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Data Element ID_PRODH2</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="5"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="PRODH3" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Data Element ID_PRODH3</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="8"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="BZIRK" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Sales District</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="6"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VKGRP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Sales group</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="BRSCH" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Industry key</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VKBUR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Sales office</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="PRCTR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Profit Center</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="LHIENR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Vendor number of vendor hierarchy</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="KDKGR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Customer Attribute for Condition Groups</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="2"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="BSTYP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Purchasing Document Category</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="BSART" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Order Type (Purchasing)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="4"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EKGRP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Purchasing Group</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="AKTNR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Promotion</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VAKEY_LONG" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Variable key 100 bytes</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="100"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="SRVPOS" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Activity Number</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="18"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="PSTYP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Item Category</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="1"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="HLAND" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Delivering country</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="AUSFU" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Exporter for import processing in foreign trade</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="HERKL" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Country of Origin of Material (Non-Preferential Origin)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="VERLD" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Country of dispatch for Foreign Trade</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="3"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="COIMP" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Code number for import processing in foreign trade</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="17"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="STAWN" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Commodity Code</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="17"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="CASNR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>CAS number for pharmaceutical products in foreign trade</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="15"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EXPRF" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Procedure</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="8"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="COKON" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Customs quota code for import processing in foreign trade</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="6"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="COPHA" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Pharmaceutical products code (Foreign Trade)</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="6"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="COADI" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Anti-dumping code for import processing in foreign trade</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="6"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="HERSE" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Manufacturer number for import processing in foreign trade</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="KTNUM" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Quota or Ceiling Number for Import Processing</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="PLNUM" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Quota or Ceiling Number for Import Processing</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="PREFA" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Preference: Preference type for foreign trade</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="EILGR" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Country Groups for Import Processing in Foreign Trade</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="10"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="MATNR_LONG" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Material No.</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="40"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="UPMAT_LONG" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Pricing reference material of main item</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="40"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="E1KONH" maxOccurs="unbounded">
           <xs:annotation>
            <xs:documentation>Data from condition header</xs:documentation>
           </xs:annotation>
           <xs:complexType>
            <xs:sequence>
             <xs:element name="KNUMH" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Number of the Condition Record</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="DATAB" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Valid-From Date</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="8"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="DATBI" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Valid To Date</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="8"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="KOSRT" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Search term for conditions</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="KZUST" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Responsibility in SD for condition/material</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="3"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="KNUMA_PI" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Sales Promotion</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="KNUMA_AG" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Sales deal</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="KNUMA_SQ" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Sales quote</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="KNUMA_SD" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Standard agreement</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="AKTNR" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Promotion</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="KNUMA_BO" minOccurs="0">
              <xs:annotation>
               <xs:documentation>Agreement (subsequent settlement)</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element name="E1KONP" maxOccurs="unbounded">
              <xs:annotation>
               <xs:documentation>Conditions Items</xs:documentation>
              </xs:annotation>
              <xs:complexType>
               <xs:sequence>
                <xs:element name="KSCHL" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition type</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="4"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KNUMT" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Number of texts</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="10"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="STFKZ" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Scale Type</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="1"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KZBZG" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Scale Base Type</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="1"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KSTBM" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition Scale Quantity</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="19"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KONMS" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition Scale Unit of Measure</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="3"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KSTBW" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Scale Value</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="20"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KONWS" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Scale Currency</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="5"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KRECH" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Calculation Type for Condition</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="1"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KBETR" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition Amount or Percentage</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="16"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KONWA" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition Unit (Currency or Percentage)</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="5"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KPEIN" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition pricing unit</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="5"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KMEIN" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition Unit</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="3"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="PRSCH" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Price levels</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="4"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KUMZA" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Numerator for converting condition units to base units</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="6"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KUMNE" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Denominator for converting condition units to base units</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="6"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="MEINS" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Base Unit of Measure</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="3"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="MXWRT" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Lower limit of the condition rate/amount</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="16"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="GKWRT" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Upper limit for the condition rate</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="16"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="PKWRT" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Planned condition value</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="21"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="FKWRT" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Cumulative guaranteed discount                   (not used)</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="21"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="RSWRT" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Accumulated accruals values                       (not used)</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="21"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KWAEH" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition Currency (for Cumulation Fields)</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="5"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="UKBAS" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Planned condition basis</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="21"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KZNEP" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition exclusion indicator</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="1"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KUNNR" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Customer Number</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="10"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="LIFNR" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Account Number of Vendor or Creditor</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="10"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="MWSK1" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Tax on sales/purchases code</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="2"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="LOEVM_KO" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Deletion Indicator for Condition Record</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="1"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="ZAEHK_IND" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition item index (short length)</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:pattern value="\d+"/>
                   <xs:maxLength value="2"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="BOMAT" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Material for rebate settlement</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="18"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KBRUE" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Accrual Amount</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="16"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KSPAE" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Rebate was set up retroactively</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="1"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="BOSTA" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Status of the agreement</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="1"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KNUMA_PI" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Sales Promotion</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="10"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KNUMA_AG" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Sales deal</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="10"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KNUMA_SQ" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Sales quote</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="10"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="VALTG" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Additional Value Days</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:pattern value="\d+"/>
                   <xs:maxLength value="2"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="VALDT" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Fixed Value Date</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="8"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="ZTERM" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Terms of payment key</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="4"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="ANZAUF" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Maximum number of sales orders per condition record</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:pattern value="\d+"/>
                   <xs:maxLength value="2"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="MIKBAS" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Minimum condition base value</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="19"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="MXKBAS" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Maximum condition base value</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="19"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KOMXWRT" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Maximum condition value</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="18"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KLF_STG" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Number of incremental scale</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:pattern value="\d+"/>
                   <xs:maxLength value="4"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KLF_KAL" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Scale number for pricing</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:pattern value="\d+"/>
                   <xs:maxLength value="4"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="VKKAL" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Sales Price Calculation: Relevant to Pricing</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="1"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="AKTNR" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Promotion</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="10"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="KNUMA_BO" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Agreement (subsequent settlement)</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="10"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="MDFLG" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Indicator: Matrix Maintenance</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="1"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="BOMAT_EXTERNAL" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Long Material Number for Field BOMAT</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="40"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="BOMAT_VERSION" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Version Number for field BOMAT</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="10"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="BOMAT_GUID" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>External GUID for Field BOMAT</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="32"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="BOMAT_LONG" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Material for rebate settlement</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="40"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="ZAEHK_IND_LONG" minOccurs="0">
                 <xs:annotation>
                  <xs:documentation>Condition item index</xs:documentation>
                 </xs:annotation>
                 <xs:simpleType>
                  <xs:restriction base="xs:string">
                   <xs:maxLength value="3"/>
                  </xs:restriction>
                 </xs:simpleType>
                </xs:element>
                <xs:element name="E1KONM" minOccurs="0" maxOccurs="unbounded">
                 <xs:annotation>
                  <xs:documentation>Conditions Quantity Scale</xs:documentation>
                 </xs:annotation>
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="KSTBM" minOccurs="0">
                    <xs:annotation>
                     <xs:documentation>Condition Scale Quantity</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                     <xs:restriction base="xs:string">
                      <xs:maxLength value="19"/>
                     </xs:restriction>
                    </xs:simpleType>
                   </xs:element>
                   <xs:element name="KBETR" minOccurs="0">
                    <xs:annotation>
                     <xs:documentation>Condition Amount or Percentage</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                     <xs:restriction base="xs:string">
                      <xs:maxLength value="16"/>
                     </xs:restriction>
                    </xs:simpleType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="SEGMENT" use="optional">
                   <xs:simpleType>
                    <xs:restriction base="xs:string">
                     <xs:enumeration value="1"/>
                    </xs:restriction>
                   </xs:simpleType>
                  </xs:attribute>
                 </xs:complexType>
                </xs:element>
                <xs:element name="E1KONW" minOccurs="0" maxOccurs="unbounded">
                 <xs:annotation>
                  <xs:documentation>Conditions Value Scale</xs:documentation>
                 </xs:annotation>
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="KSTBW" minOccurs="0">
                    <xs:annotation>
                     <xs:documentation>Condition Scale Quantity</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                     <xs:restriction base="xs:string">
                      <xs:maxLength value="20"/>
                     </xs:restriction>
                    </xs:simpleType>
                   </xs:element>
                   <xs:element name="KBETR" minOccurs="0">
                    <xs:annotation>
                     <xs:documentation>Condition Amount or Percentage</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                     <xs:restriction base="xs:string">
                      <xs:maxLength value="16"/>
                     </xs:restriction>
                    </xs:simpleType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="SEGMENT" use="optional">
                   <xs:simpleType>
                    <xs:restriction base="xs:string">
                     <xs:enumeration value="1"/>
                    </xs:restriction>
                   </xs:simpleType>
                  </xs:attribute>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="SEGMENT" use="optional">
                <xs:simpleType>
                 <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                 </xs:restriction>
                </xs:simpleType>
               </xs:attribute>
              </xs:complexType>
             </xs:element>
            </xs:sequence>
            <xs:attribute name="SEGMENT" use="optional">
             <xs:simpleType>
              <xs:restriction base="xs:string">
               <xs:enumeration value="1"/>
              </xs:restriction>
             </xs:simpleType>
            </xs:attribute>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
         <xs:attribute name="SEGMENT" use="optional">
          <xs:simpleType>
           <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
           </xs:restriction>
          </xs:simpleType>
         </xs:attribute>
        </xs:complexType>
       </xs:element>
       <xs:element name="E1IDOCENHANCEMENT" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
         <xs:documentation>Segment for Dynamic Enhancement of IDoc Types</xs:documentation>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="IDENTIFIER" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Data Containers for Enhancement of IDoc Types</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="30"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="DATA" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Data Container for IDoc Enhancement</xs:documentation>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:maxLength value="970"/>
            </xs:restriction>
           </xs:simpleType>
          </xs:element>
         </xs:sequence>
         <xs:attribute name="SEGMENT" use="optional">
          <xs:simpleType>
           <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
           </xs:restriction>
          </xs:simpleType>
         </xs:attribute>
        </xs:complexType>
       </xs:element>
      </xs:sequence>
      <xs:attribute name="BEGIN" use="optional">
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="1"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:attribute>
     </xs:complexType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
</xs:schema>
