IDOC xsds/hq/hq_order.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oorder_id" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_type_id" type="xs:string" />
        <xs:element minOccurs="0" name="ouser_id" />
        <xs:element minOccurs="0" name="oorder_ship_id" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_bill_id" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_type" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_channel" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_channel_id" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_date" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_earliest_delivery_date" />
        <xs:element minOccurs="0" name="oorder_lastest_delivery_date" />
        <xs:element minOccurs="0" name="oorder_start_date" />
        <xs:element minOccurs="0" name="oorder_due_date" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_status_id" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_status" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_is_active" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_is_closed" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_is_acknowledged" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_is_invoiced" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_status_description" />
        <xs:element minOccurs="0" name="ocustomer_account_id" type="xs:string" />
        <xs:element minOccurs="0" name="ocustomer_id" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_ocustomer_external_id" />
        <xs:element minOccurs="0" name="oorder_customer_name" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_customer_phone" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_customer_email" />
        <xs:element minOccurs="0" name="oorder_ship_service" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_item_amount" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_shipping_amount" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_discount_amount" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_discount_total" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_mrc_fee_amount" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_tax_amount" />
        <xs:element minOccurs="0" name="oorder_refund_amount" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_total_amount" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_promo" />
        <xs:element minOccurs="0" name="oorder_po_number" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_unique_id" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_external_id" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_seller_order_id" />
        <xs:element minOccurs="0" name="oorder_gp_master_number" />
        <xs:element minOccurs="0" name="oorder_sop_number" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_fulfillment_method" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_notes" />
        <xs:element minOccurs="0" name="oterm_id" />
        <xs:element minOccurs="0" name="ocard_id" />
        <xs:element minOccurs="0" name="oorder_opm_id" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_opm_charge_token" />
        <xs:element minOccurs="0" name="oorder_stripe_charge_token" />
        <xs:element minOccurs="0" name="oorder_payment_method" />
        <xs:element minOccurs="0" name="oorder_payment_captured" />
        <xs:element minOccurs="0" name="oorder_source" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_receipt" />
        <xs:element minOccurs="0" name="oorder_tags" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_version" />
        <xs:element minOccurs="0" name="slug" />
        <xs:element minOccurs="0" name="order_variable" />
        <xs:element minOccurs="0" name="parent_id" />
        <xs:element minOccurs="0" name="oorder_is_priority" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_priority_level" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_owner" type="xs:string" />
        <xs:element minOccurs="0" name="oprice_list_id" type="xs:string" />
        <xs:element minOccurs="0" name="oach_id" />
        <xs:element minOccurs="0" name="opayment_term_id" />
        <xs:element minOccurs="0" name="olocation_id" type="xs:string" />
        <xs:element minOccurs="0" name="OCDT" type="xs:string" />
        <xs:element minOccurs="0" name="OCU" type="xs:string" />
        <xs:element minOccurs="0" name="OMDT" type="xs:string" />
        <xs:element minOccurs="0" name="OMU" />
        <xs:element minOccurs="0" name="oorder_picker" />
        <xs:element minOccurs="0" name="opayment_auth_id" />
        <xs:element minOccurs="0" name="unnamedColumn" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_closed" type="xs:string" />
        <xs:element minOccurs="0" name="oorder_is_taxed" type="xs:string" />
        <xs:element minOccurs="0" name="opayment_type_id" />
        <xs:element minOccurs="0" name="opayment_method_id" />
        <xs:element minOccurs="0" name="currency_id" />
        <xs:element minOccurs="0" name="tax_type_id" />
        <xs:element minOccurs="0" name="oorder_fees_total" />
        <xs:element minOccurs="0" name="oorder_should_invoice_by_shipment" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="oorder_item_id" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_id" type="xs:string" />
              <xs:element minOccurs="0" name="encumberment_id" />
              <xs:element minOccurs="0" name="oproduct_id" type="xs:string" />
              <xs:element minOccurs="0" name="ofulfillment_method_id" />
              <xs:element minOccurs="0" name="oorder_item_status_id" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_status" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_sku" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_name" />
              <xs:element minOccurs="0" name="oorder_item_quantity" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_quantity_shipped" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_quantity_invoiced" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_quantity_canceled" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_quantity_returned" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_quantity_backordered" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_quantity_scanned" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_amount" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_discount" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_mrc_fee_amount" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_credit_amount" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_total_amount" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_estimated_ship_date" />
              <xs:element minOccurs="0" name="oorder_item_unique_id" />
              <xs:element minOccurs="0" name="oorder_item_fulfillment_method" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_external_id" type="xs:string" />
              <xs:element minOccurs="0" name="oorder_item_datetime" />
              <xs:element minOccurs="0" name="oorder_item_channel" />
              <xs:element minOccurs="0" name="oorder_item_condition" />
              <xs:element minOccurs="0" name="oorder_item_shipping_cost" />
              <xs:element minOccurs="0" name="oorder_item_return_tracking_number" />
              <xs:element minOccurs="0" name="oorder_item_original_amount" type="xs:string" />
              <xs:element minOccurs="0" name="owarehouse_id" />
              <xs:element minOccurs="0" name="oorder_item_external_sku" />
              <xs:element minOccurs="0" name="oorder_item_notes" />
              <xs:element minOccurs="0" name="OCDT" type="xs:string" />
              <xs:element minOccurs="0" name="OCU" type="xs:string" />
              <xs:element minOccurs="0" name="OMDT" type="xs:string" />
              <xs:element minOccurs="0" name="OMU" />
              <xs:element minOccurs="0" name="oorder_item_country" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="channel">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ochannel_id" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_id" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_name" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_key" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_abr" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_status" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_order" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_report" />
              <xs:element minOccurs="0" name="ochannel_gp_id" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_gp_priced" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_third_party_bill" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_prepaid_billing" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_house_account" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_edi_pr" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_edi_sh" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_edi_in" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_invoice_shipping" type="xs:string" />
              <xs:element minOccurs="0" name="ocarrier_default_id" />
              <xs:element minOccurs="0" name="ochannel_spreadsheets" type="xs:string" />
              <xs:element minOccurs="0" name="oshipment_method_id" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_auto_max_items" type="xs:string" />
              <xs:element minOccurs="0" name="orep_external_id" />
              <xs:element minOccurs="0" name="ochannel_state" />
              <xs:element minOccurs="0" name="oterritory_id" />
              <xs:element minOccurs="0" name="ouser_salesperson_id" />
              <xs:element minOccurs="0" name="ochannel_shipping_paid_by_channel" type="xs:string" />
              <xs:element minOccurs="0" name="ochannel_should_invoice_by_shipment_after" />
              <xs:element minOccurs="0" name="OCDT" />
              <xs:element minOccurs="0" name="OCU" />
              <xs:element minOccurs="0" name="OMDT" type="xs:string" />
              <xs:element minOccurs="0" name="OMU" type="xs:string" />
              <xs:element minOccurs="0" name="sap_sales_organization_id" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="customer">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ocustomer_id" type="xs:string" />
              <xs:element minOccurs="0" name="oprice_list_id" type="xs:string" />
              <xs:element minOccurs="0" name="oentity_id" type="xs:string" />
              <xs:element minOccurs="0" name="oterritory_id" />
              <xs:element minOccurs="0" name="oterritory_state_id" />
              <xs:element minOccurs="0" name="ocustomer_status_id" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_rep_id" />
              <xs:element minOccurs="0" name="ouser_sales_person_id" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_company" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_company_type" />
              <xs:element minOccurs="0" name="ocustomer_parent_co" />
              <xs:element minOccurs="0" name="ocustomer_contact" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_phone" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_fax" />
              <xs:element minOccurs="0" name="ocustomer_email" />
              <xs:element minOccurs="0" name="ocustomer_rep" />
              <xs:element minOccurs="0" name="ocustomer_federal_id" />
              <xs:element minOccurs="0" name="ocustomer_utah_id" />
              <xs:element minOccurs="0" name="ocustomer_delivery" />
              <xs:element minOccurs="0" name="slug" />
              <xs:element minOccurs="0" name="order_variable" />
              <xs:element minOccurs="0" name="parent_id" />
              <xs:element minOccurs="0" name="OCDT" type="xs:string" />
              <xs:element minOccurs="0" name="OCU" type="xs:string" />
              <xs:element minOccurs="0" name="OMDT" type="xs:string" />
              <xs:element minOccurs="0" name="OMU" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_type" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_notes" />
              <xs:element minOccurs="0" name="ship_oaddress_id" type="xs:string" />
              <xs:element minOccurs="0" name="bill_oaddress_id" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_cim_token" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_stripe_customer_token" />
              <xs:element minOccurs="0" name="ocustomer_stripe_card_token" />
              <xs:element minOccurs="0" name="ocustomer_stripe_token" />
              <xs:element minOccurs="0" name="ocustomer_external_id" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_channels" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_assigned_ouser_id" />
              <xs:element minOccurs="0" name="ocustomer_credit_limit" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_maximum_write_off" />
              <xs:element minOccurs="0" name="ocustomer_minimum_payment" />
              <xs:element minOccurs="0" name="ocustomer_finance_charge" />
              <xs:element minOccurs="0" name="ocustomer_balance_type" />
              <xs:element minOccurs="0" name="ocustomer_price_level" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_due_date_grace_period" />
              <xs:element minOccurs="0" name="ocustomer_discount_grace_period" />
              <xs:element minOccurs="0" name="ocustomer_payment_terms" type="xs:string" />
              <xs:element minOccurs="0" name="opayment_term_id" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_trade_discount_percent" />
              <xs:element minOccurs="0" name="ocustomer_is_active" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_is_hold" type="xs:string" />
              <xs:element minOccurs="0" name="ocusotmer_class" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_bank_account_key" />
              <xs:element minOccurs="0" name="ocustomer_receivable_key" />
              <xs:element minOccurs="0" name="ocustomer_sales_key" />
              <xs:element minOccurs="0" name="ocustomer_cost_of_goods_sold_key" />
              <xs:element minOccurs="0" name="ocustomer_inventory_account_key" />
              <xs:element minOccurs="0" name="default_oaddress_id" />
              <xs:element minOccurs="0" name="ocustomer_state" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_phone_number" />
              <xs:element minOccurs="0" name="ocustomer_created_on" />
              <xs:element minOccurs="0" name="ocustomer_class" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_days_between_orders" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_last_order_date" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_days_past_due" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_ytd_sales" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_thirty_day_sales" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_180_day_sales" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_365_day_sales" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_auto_email_invoice" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_auto_mail_invoice" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_auto_fax_invoice" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_store_count" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_is_priority" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_url" />
              <xs:element minOccurs="0" name="ocustomer_nickname" />
              <xs:element minOccurs="0" name="ocustomer_temperature" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_is_taxed" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_rating" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_tax_exempt_state_id" />
              <xs:element minOccurs="0" name="ocustomer_tax_exempt_federal_id" />
              <xs:element minOccurs="0" name="ocustomer_notify_on_dropship" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_send_invoice_reminders" type="xs:string" />
              <xs:element minOccurs="0" name="ocustomer_company_size" />
              <xs:element minOccurs="0" name="ocustomer_company_industry" />
              <xs:element minOccurs="0" name="ocustomer_auto_email_statement" />
              <xs:element minOccurs="0" name="ocustomer_is_international" />
              <xs:element minOccurs="0" name="ocustomer_hide_pricing" />
              <xs:element minOccurs="0" name="sap_sales_organization_id" />
              <xs:element minOccurs="0" name="billing_address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ocustomer_address_id" type="xs:string" />
                    <xs:element minOccurs="0" name="ocustomer_address_type_id" type="xs:string" />
                    <xs:element minOccurs="0" name="ocustomer_id" type="xs:string" />
                    <xs:element minOccurs="0" name="olead_id" />
                    <xs:element minOccurs="0" name="oaddress_type" />
                    <xs:element minOccurs="0" name="oaddress_name" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_street_1" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_street_2" />
                    <xs:element minOccurs="0" name="oaddress_street_3" />
                    <xs:element minOccurs="0" name="oaddress_street_4" />
                    <xs:element minOccurs="0" name="oaddress_locality" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_region" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_postcode" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_country" type="xs:string" />
                    <xs:element minOccurs="0" name="ofulfillment_center_code" />
                    <xs:element minOccurs="0" name="oaddress_contact" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_phone" />
                    <xs:element minOccurs="0" name="oaddress_fax" />
                    <xs:element minOccurs="0" name="oaddress_email_to" />
                    <xs:element minOccurs="0" name="oaddress_email_cc" />
                    <xs:element minOccurs="0" name="oaddress_email_bcc" />
                    <xs:element minOccurs="0" name="oaddress_url_1" />
                    <xs:element minOccurs="0" name="oaddress_url_2" />
                    <xs:element minOccurs="0" name="oaddress_url_3" />
                    <xs:element minOccurs="0" name="oaddress_url_4" />
                    <xs:element minOccurs="0" name="oaddress_url_5" />
                    <xs:element minOccurs="0" name="oaddress_external_id" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_default" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_active" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_notes" />
                    <xs:element minOccurs="0" name="OCDT" type="xs:string" />
                    <xs:element minOccurs="0" name="OCU" type="xs:string" />
                    <xs:element minOccurs="0" name="OMDT" type="xs:string" />
                    <xs:element minOccurs="0" name="OMU" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_is_billing" type="xs:string" />
                    <xs:element minOccurs="0" name="oaddress_is_shipping" type="xs:string" />
                    <xs:element minOccurs="0" name="ocountry_id" type="xs:string" />
                    <xs:element minOccurs="0" name="country">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="ocountry_id" type="xs:string" />
                          <xs:element minOccurs="0" name="ocountry_code" type="xs:string" />
                          <xs:element minOccurs="0" name="ocountry_name" type="xs:string" />
                          <xs:element minOccurs="0" name="OCU" />
                          <xs:element minOccurs="0" name="OMU" />
                          <xs:element minOccurs="0" name="OCDT" type="xs:string" />
                          <xs:element minOccurs="0" name="OMDT" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>